body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.karakasa{
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 16000ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
		
@keyframes rotate{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
